/* Overall container styling for both signup and login */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border-radius: 25px;
    margin: 10px 20px 32px 20px;
    /* background-color: #C9B6E4; */
}

.login-form-wrapper {
  background: #ffffff;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  margin: 2px 20px 32px 20px;
  max-width: 400px;
}

h2 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

p {
  font-size: 1.2em;
  color: #666;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding: 10px;
  padding-left: 35px; /* For icon spacing */
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.input-wrapper .input-icon {
  position: absolute;
  left: 10px;
  color: #242b60;
  font-size: 20px;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #242b60;
}

.login-button {
  background-color: #242b60;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #242b60;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link a {
  color: #242b60;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
